@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2>Admin Dashboard</h2>

<ul>
    <li>
        <a href="@Url.Action("AddClinic","Admin")"> Add Clinic</a>
    </li>

    <li>
        <a href="@Url.Action("AddDoctor","Admin")">Add Doctor</a>
    </li>
</ul>